<!DOCTYPE html>
<html>
	<head>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.1.1/crypto-js.min.js"
			integrity="sha512-E8QSvWZ0eCLGk4km3hxSsNmGWbLtSCSUcewDQPQWZF6pEU8GlT8a5fF32wOl1i8ftdMhssTrF/OhyGWwonTcXA=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>

		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
		/>

		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
		<script
			src="https://code.jquery.com/jquery-3.6.0.min.js"
			integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			crossorigin="anonymous"
		></script>
	</head>
	<body>
		{% with messages = get_flashed_messages() %} {% if messages %} {% for
		message in messages %}
		<div class="alert alert-danger float">{{ message }}</div>
		{% endfor %} {% endif %} {% endwith %} {% block content %}{% endblock %}

		<footer class="footer text-light bg-dark py-5">
			<div class="container">
				<p class="float-right text-light">
					<a href="#"><i class="fas fa-chevron-up"></i></a>
				</p>
				<p>&copy; 2022 Philip Gilde</p>
			</div>
		</footer>
	</body>
</html>
